crawler/clien/StepFunctions
{
    "Comment": "A description of my state machine",
    "StartAt": "GET_POST_LINK",
    "States": {
      "GET_POST_LINK": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:clien-lv1:$LATEST",
          "Payload.$": "$"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Scrapping_Mapper"
      },
      "Scrapping_Mapper": {
        "Type": "Map",
        "ItemProcessor": {
          "ProcessorConfig": {
            "Mode": "INLINE"
          },
          "StartAt": "Scraper",
          "States": {
            "Scraper": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:clien-lv2:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        "Next": "Aggregater",
        "MaxConcurrency": 10,
        "ItemsPath": "$.body.links",
        "ItemSelector": {
          "links.$": "$$.Map.Item.Value",
          "file_name.$": "$.body.file_name",
          "queue_url.$": "$.body.queue_url"
        },
        "ResultPath": "$.body.result"
      },
      "Aggregater": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:sqs-json-aggregater:$LATEST",
          "Payload": {
            "queue_url.$": "$.body.queue_url",
            "bucket": {
              "name": "monitordog-data",
              "path": "clien"
            },
            "file_name.$": "$.body.file_name"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }