crawler/naver/sqs-crawler/StepFunctions
{
    "Comment": "A description of my state machine",
    "StartAt": "GET_POST_LINK",
    "States": {
      "GET_POST_LINK": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:naver-lv1:$LATEST",
          "Payload": {
            "keyword": "아이오닉6 누수",
            "target_prefix": "naver_cafe",
            "start_date": "2024-08-12T17:44:00",
            "period": "20",
            "queue_url": "https://sqs.ap-northeast-2.amazonaws.com/367354627828/naver-crawler-sqs"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Scrapping_Mapper"
      },
      "Scrapping_Mapper": {
        "Type": "Map",
        "ItemProcessor": {
          "ProcessorConfig": {
            "Mode": "INLINE"
          },
          "StartAt": "Scraper",
          "States": {
            "Scraper": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:naver-lv2:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        "Next": "Aggregater",
        "MaxConcurrency": 10,
        "ItemsPath": "$.body.links",
        "ItemSelector": {
          "links.$": "$$.Map.Item.Value",
          "file_name.$": "$.body.file_name",
          "queue_url.$": "$.body.queue_url"
        },
        "ResultPath": "$.body.result"
      },
      "Aggregater": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:sqs-json-aggregater:$LATEST",
          "Payload": {
            "queue_url.$": "$.body.queue_url",
            "bucket": {
              "name": "naver-crawler-01",
              "path": "naver"
            },
            "file_name.$": "$.body.file_name"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }