crawler/dc/StepFunctions.json
{
  "Comment": "Step Function to call Lambda functions with dc crawling",
  "StartAt": "dc_lv1",
  "States": {
    "dc_lv1": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-2:367354627828:function:dc_lv1",
      "Next": "MapState1"
    },
    "MapState1": {
      "Type": "Map",
      "ItemsPath": "$.search_pos",
      "Parameters": {
        "search_url.$": "$.search_url",
        "search_pos.$": "$$.Map.Item.Value",
        "queue_url.$": "$.queue_url"
      },
      "ResultPath": "$.result",
      "Iterator": {
        "StartAt": "dc_lv2",
        "States": {
          "dc_lv2": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:ap-northeast-2:367354627828:function:dc_lv2",
            "Next": "MapState2"
          },
          "MapState2": {
            "Type": "Map",
            "ItemsPath": "$.page_urls",
            "MaxConcurrency": 5,
            "Parameters": {
              "page_urls.$": "$$.Map.Item.Value",
              "queue_url.$": "$.queue_url"
            },
            "Iterator": {
              "StartAt": "dc_lv3",
              "States": {
                "dc_lv3": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:ap-northeast-2:367354627828:function:dc_lv3",
                  "Next": "MapState3"
                },
                "MapState3": {
                  "Type": "Map",
                  "ItemsPath": "$.post_urls",
                  "MaxConcurrency": 8,
                  "Parameters": {
                    "post_urls.$": "$$.Map.Item.Value",
                    "queue_url.$": "$.queue_url"
                  },
                  "Iterator": {
                    "StartAt": "dc_lv4",
                    "States": {
                      "dc_lv4": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:ap-northeast-2:367354627828:function:dc_lv4",
                        "End": true
                      }
                    }
                  },
                  "End": true
                }
              }
            },
            "End": true
          }
        }
      },
      "Next": "dc_lv5_v2",
      "MaxConcurrency": 3
    },
    "dc_lv5_v2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-northeast-2:367354627828:function:dc-lv5:$LATEST",
        "Payload": {
          "queue_url.$": "$.queue_url",
          "bucket": {
            "name": "monitordog-data",
            "path": "dc"
          },
          "file_name.$": "$.file_name"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}